<% url = spree.product_path(product, taxon_id: taxon.try(:id)) %>
<div id="product_<%= product.id %>" class="col-lg-3 col-md-6 mb-4 text-center item-product" data-hook="products_list_item" itemscope itemtype="https://schema.org/Product">
  <div class="card">
    <% cache(taxon.present? ? [I18n.locale, current_currency, taxon, product] : cache_key_for_product(product)) do %>
        <div class="view overlay">
          <%#= product_image(product, itemprop: "image") %>
          <%= link_to url, itemprop: "url", class: 'card-img-top' do %>
              <%= product_image(product, itemprop: "image") %>
              <!--<%#= content_tag(:span, truncate(product.name, length: 50), class: 'info', itemprop: "name", title: product.name) %>-->
              <div class="mask rgba-white-slight waves-effect waves-light"> </div>
          <% end %>
        </div>
        <div class="card-body text-center">
          <h5>
            <strong class='dark-grey-text'>
              <%= truncate(product.name, length: 50)%>
            </strong>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong><span class="price selling lead" itemprop="price" content="<%= (product.price_in(current_currency).amount.nil?)? 0 : product.price_in(current_currency).amount.to_d %>">
          <%= display_price(product) %>
        </span></strong>
          </h4>
        </div>

    <% end %>
  </div>
</div>

<!--<div class="col-lg-3 col-md-6 mb-4">-->

  <!--&lt;!&ndash;Card&ndash;&gt;-->
  <!--<div class="card">-->

    <!--&lt;!&ndash;Card image&ndash;&gt;-->
    <!--<div class="view overlay">-->
      <!--<img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top" alt="">-->
      <!--<a>-->
        <!--<div class="mask rgba-white-slight waves-effect waves-light"></div>-->
      <!--</a>-->
    <!--</div>-->
    <!--&lt;!&ndash;Card image&ndash;&gt;-->

    <!--&lt;!&ndash;Card content&ndash;&gt;-->
    <!--<div class="card-body text-center">-->
      <!--&lt;!&ndash;Category & Title&ndash;&gt;-->
      <!--<a href="" class="grey-text">-->
        <!--<h5>Shirt</h5>-->
      <!--</a>-->
      <!--<h5>-->
        <!--<strong>-->
          <!--<a href="" class="dark-grey-text">Denim shirt-->
            <!--<span class="badge badge-pill danger-color">NEW</span>-->
          <!--</a>-->
        <!--</strong>-->
      <!--</h5>-->

      <!--<h4 class="font-weight-bold blue-text">-->
        <!--<strong>120$</strong>-->
      <!--</h4>-->

    <!--</div>-->
    <!--&lt;!&ndash;Card content&ndash;&gt;-->

  <!--</div>-->
  <!--&lt;!&ndash;Card&ndash;&gt;-->

<!--</div>-->
